.burbuja{
    color:white;
    padding: 3px;
    font-weight: bold;
    background-color: rgb(238, 79, 79);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}