
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.logo{
    width: 5vw;
    height: auto;
    padding: 5px;
    margin-right: 10px;
}

.navbar-custom {
  background-color: #946343; 
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}

.navbar-custom .dropdown-item{
    color: #946343;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;

}
.navbar-custom .nav-link {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}
