.nav-container {
  background-color: rgb(219, 218, 247);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enlace {
    font-family:Segoe, serif;
    font-style: italic;
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.logo{
    width: 8vw;
    height: auto;
}
